/* GLOBAL STYLING */
:root {
	--primary-color: #2a2d34;
	--secondary-color: #5c946e;
	--tertiary-color: #8fbc8f;
	--font-family: Arial, Helvetica, sans-serif;
	--line-height: 1.4;
	--transition: 0.25s;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}
a:hover {
	color: var(--tertiary-color);
}

body {
	color: var(--secondary-color);
	font-size: 1rem;
	font-family: var(--font-family);
	background-color: var(--primary-color);
	padding-top: 10px;
	padding-bottom: 50px;
}

/* COMPONENTS STYLING */
/* CUSTOM PAGE SECTIONS */
.page-section {
	padding: 4rem 0;
}
.page-section h2.section-heading,
.page-section .section-heading.h2 {
	font-size: 2.5rem;
	margin: 1rem;
	color: #fff;
}
.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-bottom: 4rem;
}

@media (min-width: 768px) {
	section {
		padding: 9rem 0;
	}
}

/* BUTTONS */
.btn-xl {
	padding: 1.25rem 2.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.125rem;
	font-weight: 700;
}
.btn-primary {
	background-color: var(--primary-color);
	border: 0;
}
.btn-primary:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
.btn-primary:active {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

.btn-secondary {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 0;
}
.btn-secondary:hover {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}
.btn-secondary:active {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border: 0;
}

/* HEADER */
header.masthead {
	padding-top: 10.5rem;
	padding-bottom: 6rem;
	text-align: center;
	color: var(--primary-color);
	background-image: url("./assets/header-bg.webp");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
header.masthead .masthead-subheading {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.5rem;
	margin-bottom: 25px;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
	font-size: 3.25rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 1rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
	header.masthead {
		padding-top: 17rem;
		padding-bottom: 12.5rem;
	}
	header.masthead .masthead-subheading {
		font-size: 2.25rem;
		font-style: italic;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}
	header.masthead .masthead-heading {
		font-size: 4.5rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 2rem;
	}
}

/* NAVIGATION */
.navTitle {
	font-weight: bolder;
}

.navigation {
	text-decoration: none;
	color: var(--secondary-color);
	list-style: none;
}
.navigation:hover {
	color: var(--tertiary-color);
	cursor: pointer;
	transform: translateY(-2px) translateX(2px);
}
.selectedNav {
	font-weight: bolder;
	color: var(--tertiary-color);
}

/* ABOUT */
/* section#about {

} */
section#about .portrait {
	border: 5px solid var(--tertiary-color);
	border-radius: 100rem;
	width: 50%;
}

/* CONTACT */
section#contact {
	background-color: #212529;
	background-image: url("../src/assets/contact-bg.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
section#contact .section-heading {
	color: #fff;
	margin: 1rem;
}
section#contact form#contactForm .form-group {
	margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
	padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
	height: auto;
}
section#contact form#contactForm .form-group-textarea {
	height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
	height: 100%;
	min-height: 10rem;
}
section#contact form#contactForm p.help-block {
	margin: 0;
}
section#contact form#contactForm .form-control:focus {
	border: 1px solid var(--tertiary-color);
	box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	color: #ced4da;
}

/* PROJECT */
#project .project-item {
	max-width: 26rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid var(--secondary-color);
}
#project .project-item .project-caption {
	padding: 1.5rem;
	text-align: center;
	background-color: #fff;
}
#project .project-item .project-caption .project-caption-heading {
	font-size: 1.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	margin-bottom: 0;
}
#project .project-item .project-caption .project-caption-subheading {
	color: var(--secondary-color);
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#project
	.project-item
	.project-caption
	.project-caption-subheading
	.project-caption-link {
	color: var(--primary-color);
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#project
	.project-item
	.project-caption
	.project-caption-subheading
	.project-caption-link:hover {
	color: var(--tertiary-color);
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* RESUME */
.resumeLink {
	display: block;
	padding-top: 10px;
	font-size: large;
	font-weight: bold;
	color: var(--secondary-color);
	width: fit-content;
}

.resumeLink:hover {
	color: var(--tertiary-color);
}

.resumeWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.resumeWrapper h3 {
	color: var(--tertiary-color);
}

.resumeWrapper div {
	padding: 20px 30px;
	margin-top: 20px;
	margin-right: 20px;
}

/* FOOTER */
.social-media-list {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.social-media-list li {
	position: relative;
	list-style: none;
}

.social-media-list li:hover {
	transform: translateY(-2px) translateX(2px);
}

.social-icon {
	font-size: 30px;
	color: var(--primary-color);
}

.social-icon:hover {
	color: var(--tertiary-color);
}
