/* GLOBAL STYLING */
:root {
	--primary-color: #2a2d34;
	--secondary-color: #5c946e;
	--tertiary-color: #30c5ff;
	--font-family: Arial, Helvetica, sans-serif;
	--line-height: 1.4;
	--transition: 0.25s;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px red solid; */
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

body {
	color: var(--secondary-color);
	font-size: 1rem;
	font-family: var(--font-family);
	background-color: var(--primary-color);
}

/* COMPONENTS STYLING */
/* NAVIGATION */
.navTitle {
	font-weight: bolder;
}

.navigation {
	text-decoration: none;
	color: var(--secondary-color);
	list-style: none;
}

.navigation:hover {
	color: var(--tertiary-color);
	cursor: pointer;
	transform: translateY(-2px) translateX(2px);
}

.selectedNav {
	font-weight: bolder;
	color: var(--tertiary-color);
}

/* ABOUT */
.portrait {
	border: 5px solid var(--secondary-color);
	border-radius: 12%;
	width: 25%;
	height: auto;
}

/* CONTACT */
.formHeader {
	color: var(--secondary-color);
	font-weight: bold;
}

.submitBtn {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: bolder;
}

/* PROJECT */
.projects {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.projectCard {
	background: var(--secondary-color);
	border-radius: 15px;
	width: calc(33.3333% - 40px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	margin: 50px 20px 20px 20px;
	padding: 10px;
	text-align: center;
	color: var(--secondary-color);
}

.projectImage {
	width: 500px;
	height: 500px;
	border: 1px solid black;
}

.projectTitle {
	font-weight: bold;
	color: var(--primary-color);
}

.projectLink {
	display: block;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px;
	background: var(--secondary-color);
	color: var(--primary-color);
}

.projectLink:hover {
	background: var(--tertiary-color);
	color: var(--secondary-color);
}

/* FOOTER */
.social-media-list {
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	position: sticky;
	padding: 10px;
	bottom: 0;
	width: 100%;
}

.social-media-list li {
	position: relative;
	list-style: none;
}

.social-media-list li:hover {
	transform: translateY(-2px) translateX(2px);
}

.social-icon {
	font-size: 30px;
	color: var(--primary-color);
}

.social-icon:hover {
	color: var(--tertiary-color);
}
